/* ----------- Element Styles ---------- */
body {
  font-family: sans-serif;
}
/* ----------- Class Styles ---------- */

.jumbotron-fluid {
  padding: 2em;
  background-color:
}

.apiWord {
  background-color: #ffc107;;
  color: #DE6177;
}
/* ----------- ID Styles ---------- */

#w,
#pencil {
  color: #DE6177;
}
