/* ----------- Element Styles ---------- */
body {
  font-family: sans-serif;
}
/* ----------- Class Styles ---------- */

.jumbotron-fluid {
  padding: 2em;
}

.wiki-header {
  font-family: 'Linux Libertine', Georgia, Times, serif; //wikipedia header font stack
}

.apiWord {
  background-color: #ffc107;;
  color: #DE6177;
}

.icon {
  color: #DE6177;
}

/* ----------- ID Styles ---------- */
